<a href="https://colab.research.google.com/github/rohit3345ks/hello-world/blob/master/Copy_of_lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 01 - Python introduction

Python is a popular programming language well suited for data analysis. Created in 1991 by Guido van Rossum, Python is now the 3rd most popular programing language in use (TIOBE index August 2019, https://www.tiobe.com/tiobe-index/)

IPython (Interactive Python) Notebooks allow to run Python code interactively, meaning that we can execute and re-execute parts of the code in code blocks and annotate the code document with markdown and LaTeX syntax. Code blocks share the variables, which allows us to use the variables from one code block in other code blocks, and can be run in arbitrary order.

The original (offline) way to run IPython Notebooks (.pynb) is by using [Jupyter Notebook](https://jupyter.org/).

Note: You can run and experiment with this notebook using https://colab.research.google.com without the need to install Python and its necessary packages.

## Syntax

Python programming syntax is simple. Here is an example of how to display a text:

In [0]:
print("Hello, World!")

One main difference from other programming languages is that Python considers indentation to define code blocks. This is done to improve the code readability.

For example:

In [0]:
def say_the_word(the_word):
    print(the_word)
    
print()

In [0]:
say_the_word("Hi!")

## (Primitive) Types and Operators

Integer

In [0]:
15

Float

In [0]:
15.78

In [0]:
15.3 + 17 / 8 * (21 - 3) ** 3 % 3

String

In [0]:
"Hi!"
'Hi!'
"""Multiline
hi!"""

In [0]:
"Hel" + "lo!"

Boolean

In [0]:
True
False

In [0]:
15 < 8

In [0]:
3 > 2

In [0]:
15 < 8 or 3 > 2

In [0]:
15 < 8 and 3 > 2

Null

In [0]:
None

## Pass
Aka "I don't know (yet?) what to do here" or "I don't want to do anything here"

In [0]:
pass

## Variables

Variable is an entity which can contain some value like a number, a string or even a table.
In order to assign value to variable you can use the "=" operator:

In [0]:
x = 42

Python is a case sensitive language. This means that the following variables **var**, **Var** and **vAr** are different and can contain different values. Let’s look at an example:

In [0]:
var = 10
Var = 15
vAr = 'Hi!'

In [0]:
say_the_word(var)
say_the_word(Var)
say_the_word(vAr)

## Comments

In order to leave some notes in the code, you can use comments. Comment lines starts with a #.


Example:

In [0]:
# This is a comment
x = 42

## Functions and their arguments

Functions can be used to execute the same calculations on different set of values.
For example:

In [0]:
import math

a = 9
b = math.sqrt(a)

Here math.sqrt() is a function that takes value from "a", calculates square root from it and assigns result to "b".
A function is declared in python using the "def" command. For example:

In [0]:
# defines a function called "f" that receives 3 parameters: "a", "b", "c"; 
# and returns the value assigned to the variable "y"

def f(a, b, c):
    y = 2*a + 2*b + 2*c
    return y

In [0]:
f(1, 2, 3)

## Lists

A list is a common and basic data type in Python that can contain several values. For example the following is a numeric list:

In [0]:
x = [1, 5, 4, 9, 0]

you can get the total number of elements in a list with the "len" function

In [0]:
x = [1, 5, 4, 9, 0]
len(x)

but lists do not behave the same as our intuition with vectors. For example, observe the output of:

In [0]:
a = [1, 2, 3]
b = [1, 2, 3]

c = a + b

One would expect c to be [2, 4, 6], but the "+" sign for list indicates concatenation, and not addition. Therefore, c is actually:

In [0]:
c == [2, 4, 6]

In [0]:
c

Objects that work as our vector intuition expects are provided by the Numpy library.

In [0]:
import numpy as np

a = np.array([1, 2, 3])
b = np.array([1, 2, 3])

c = a + b

In [0]:
c

To declare string variables one should use quotes, otherwise python can't differentiate strings and variable names.

In [0]:
x = np.array(["first", "second", "third"])

x

Missing values are represented by None or np.nan:

In [0]:
x = np.array(["first", "second", None])

x

In [0]:
x = np.array([1, 2, 3, np.nan])

x

## Sub-setting vectors

If we want to extract one or several values from a vector, we must provide one or several indices in square brackets. For instance:

In [0]:
animals = np.array(["mouse", "rat", "dog", "cat"])

In [0]:
animals[2]

In [0]:
animals[[3, 2]]

Note: Python indexes starts from 0. This is different from other languages like "R" that starts index with 1.

In [0]:
animals[0]

## Conditional subsetting

Another common way of sub-setting is by using a logical vector. True will select the element with the same index, while False will not:

In [0]:
animals[[True, False, True, False]]

Typically, these logical vectors are not typed by hand, but are the output of other functions or logical tests. For instance, if you wanted to select only the values above 50:

In [0]:
x = np.array([1, 66, 30, 44, 55, 3, 102, 4])

x

In [0]:
x > 50

In [0]:
x[x > 50]

You can combine multiple tests using & (both conditions are true, AND) or | (at least one of the conditions is true, OR):

In [0]:
(x > 50) & (x < 100)

In [0]:
(x > 50) | (x < 100)

## Data frames

Data frames are the "de facto" data structure for most tabular data, and what we use for statistics and plotting. It is implemented in Python with the popular Pandas library.

In [0]:
import pandas as pd

In [0]:
pd.DataFrame()

An example of tabular data:

In [0]:
df = pd.DataFrame({
    "Name": ["Jhon", "Joseph", "Martin", "Ivan", "Andrea"],
    "Goods": ["Bread", "Milk", "Apples", "Meat", "Eggs"], 
    "Sales": [15, 18, 21, None, 60], 
    "Price": [34, 52, 33, 44, None]
})

In [0]:
df

A data frame can be created by hand, but most commonly they are generated by the functions pd.read_csv() or pd.read_excel(); in other words, when importing spreadsheets from your hard drive or from the web.

In [0]:
df = pd.read_csv("https://courses.cs.ut.ee/2019/bda/fall/uploads/Main/inputFile1.csv", sep=" ")

In [0]:
df.head()

In [0]:
df.shape

The columns of the resulting DataFrame have different dtypes.

In [0]:
df.dtypes

## Inspecting data frame objects

You can view the top and bottom rows of the frame as following:

In [0]:
df.head()

In [0]:
df.tail()

Display the index, columns:

In [0]:
df.index

In [0]:
df.columns

describe() shows a quick statistic summary of your data:

In [0]:
df.describe()

It is possible to sort the values from a specific column:

In [0]:
df.sort_values(by="account_a", ascending=True).head()

## Data frame selection

In [0]:
df = pd.DataFrame({
    "Name": ["Jhon", "Joseph", "Martin", "Ivan", "Andrea"],
    "Goods": ["Bread", "Milk", "Apples", "Meat", "Eggs"], 
    "Sales": [15, 18, 21, None, 60], 
    "Price": [34, 52, 33, 44, None]
}).set_index('Name')

In [0]:
df

Selecting a single column, which yields a Series:

In [0]:
df['Goods']

Selecting via [], which slices the rows:

In [0]:
df[0:2]

In [0]:
df.loc['Jhon']

Selecting on a multi-axis by label:

In [0]:
df.loc[:, ['Sales', 'Price']]

Select via the position of the passed integers:

In [0]:
df.iloc[0]

In [0]:
df.iloc[0:3]

In [0]:
df.iloc[0:3, [0, 1]]

Similarly as we did with arrays, it is possible to use boolean vectors to select values from the data frame:

In [0]:
df.Goods == 'Milk'

In [0]:
df[df.Goods == 'Milk']

Setting a new column automatically aligns the data by the indexes:

In [0]:
s1 = pd.Series(pd.date_range('20190101', periods=5), index=["Jhon", "Joseph", "Martin", "Ivan", "Andrea"])

In [0]:
df["Date"] = s1

In [0]:
df

Pandas primarily uses the value NaN to represent missing data.

In [0]:
df.isna()

You can drop rows with missing data with:

In [0]:
df.dropna()

Or use the fillna to replace the NaN value:

In [0]:
df.fillna(0)

## References

* 10 minutes to pandas: https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html